<header>
  <img class="header-image" src="./assets/logo-single.png" alt="Logo" />
</header>

<div class="center-div">
  <div class="welcome-container">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <span class="welcome-text">Bem vindo Nome do cliente</span>
  </div>  

  <div>
    <img class="grid-image" src="./assets/myhealth.png" alt="Item 1" />
    <img class="grid-image" src="./assets/healthpoints.png" alt="Item 2" />
  </div>
  <div>
    <img class="grid-image" src="./assets/medicines.png" alt="Item 1" />
    <img class="grid-image" src="./assets/appointments.png" alt="Item 2" />
  </div>
  <div>
    <img class="grid-image" src="./assets/listner.png" alt="Item 1" />
    <img class="grid-image" src="./assets/newapointments.png" alt="Item 2" />
  </div>
</div>
